.postBlock {
    padding-bottom: 20px;
}

.postBlock textarea  {
    background-color: rgb(215, 248, 248);
    min-width: 96%;
    max-width: 950px;
    min-height: 100px;
    max-height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    user-select: text;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 16px;
    line-height: 20px;
    vertical-align: baseline;
 }

.error {
    color: #D63301;
    background-color: #FFCCBA;
    font-style: italic;
  }


h3 {
    color: rgb(21, 78, 75);
    font-family: "Lora script=all rev=2", "Adobe Blank";
    font-style: italic;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 5px;
  }