.preloader {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes spin {
    100% {
      -moz-transform: rotate(360deg);
    }
  }
  
  @-webkit-keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  
  @-ms-keyframes spin {
    100% {
      -ms-transform: rotate(360deg);
    }
  }
  
  @-o-keyframes spin {
    100% {
      -o-transform: rotate(360deg);
    }
  }
  
  .spinner {
    width: 70px;
    height: 70px;
    border: 10px solid rgb(28, 105, 101);
    border-left-color: rgb(38, 139, 134);
    border-right-color: transparent;
    border-bottom-color: rgb(102, 228, 221);
    border-radius: 100%;
    animation: spin 1000ms infinite linear;
  
    -moz-animation: spin 1000ms infinite linear;
    -o-animation: spin 1000ms infinite linear;
    -webkit-animation: spin 1000ms infinite linear;
    -ms-animation: spin 1000ms infinite linear;
  }