.profileItems {
    display: grid;
    grid-template-rows: 220px 1fr;
    grid-template-columns: 350px 1fr;
    grid-template-areas:
    'header header' 
    'ava desc';
    gap: 10px;
}

.item {
    grid-area: header;
}

.item img {
    height:  220px;
    width: 100%;
}

.descriptionBlock {
    grid-area: ava;
    margin: 40px 0 0 20px;
    margin-top: 20px;
}


.descriptionBlock img {
    height: 302px;
    width: 302px;
    border-radius: 10px;
    border: rgb(21, 78, 75) 1px solid;
    
}

.description {
    grid-area: desc;
    margin: 30px 0 0 20px;
    color: rgb(21, 78, 75);
}

.fullName {
    font-size: 2.0em;
    font-weight: 400;
}

.fullName img {
    width: 50px;
    padding-left: 5px;
}

.aboutMe {
    padding-bottom: 50px;
}

