.app-wrapper {
  display: grid;
  margin: 10px auto;
  width: 1200px;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 160px 1fr;
  grid-template-areas:
   'header header'
   'nav profile';
  gap: 10px;
  box-shadow: 0 4px 8px 0 rgba(9, 114, 109, 0.3), 0 6px 20px 0 rgba(33, 100, 89, 0.29);
}

.app-wrapper-content {
    grid-area: profile;
    background-color: azure;
}
