.dialogs {
    display: grid;
    grid-template-columns: 300px 1fr;
}

.dialogItem {
    padding: 20px 30px;
}

.dialogItem a {
    color: rgb(21, 78, 75);
    text-decoration: none;
}

.dialogItem a.activeLink {
    color: rgb(77, 153, 153);
    font-size: 1.2em;
}

.messages {
    padding: 20px;
    max-width: 700px;
    overflow: hidden;
}
